name: check swagger update

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: pnpm/action-setup@v4
        name: Install pnpm
      - uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "pnpm"
      - name: install deps
        run: pnpm install
      - name: update & check
        id: check
        run: |
          pnpm run update
          git diff --exit-code > /dev/null 2>&1 || echo "changes=true" >> $GITHUB_OUTPUT
      - name: make pr if diff detected
        if: ${{ steps.check.outputs.changes == 'true' }}
        run: |
          d="$(date +"%Y%m%dT%H%M%S")"
          branch=update-"$d"
          git checkout -b "$branch"
          git add --all
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m "daily update $d"
          git push origin "$branch"
          gh pr create --title "update $d" --base main --reviewer mkusaka -b ""
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
