name: check swagger update

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        name: Install pnpm
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24"
          cache: "pnpm"
      - name: install deps
        run: pnpm install
      - name: update & check
        id: check
        run: |
          pnpm run update
          git diff --exit-code > /dev/null 2>&1 || echo "changes=true" >> $GITHUB_OUTPUT
      - name: make pr if diff detected
        if: ${{ steps.check.outputs.changes == 'true' }}
        run: |
          d="$(date +"%Y%m%dT%H%M%S")"
          branch=update-"$d"
          git checkout -b "$branch"
          git add --all
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m "daily update $d"
          git push origin "$branch"
          gh pr create --title "update $d" --base main --reviewer mkusaka -b ""
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
